.container {
  width: 1000px;
  height: auto;
  margin: 100px auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Pretendard-Regular";
}
.tableHead {
  background: #eef2e6;
}
.h2 {
  margin-bottom: 0;
  text-align: center;
}
.delete,
.edit {
  border: none;
  background: transparent;
  cursor: pointer;
}
.delete:hover, 
.edit:hover {
  color: tomato;
}
